<!DOCTYPE html>
<html>
   <head>
      {% block head %}
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %}</title>
      {% endblock %}
   </head>
<body>
    <div>
  {% block body %}{% endblock %}
  </div>
</body>
</html>