{% extends "base.jinja" %}
{% block title %} Task4 {% endblock %}  {# changing title #}


{% block content %} {# adding main content #}
	{% block body %}
		{{ infoString }}
		{{ finalLine }}
		<a href="about\aboutme.jinja"> about.jinja </a>
		<a href="C:\Users\amdin\Desktop\web\DZ1\webProgramming\about\aboutme.jinja">
	{% endblock %}
{% endblock %}