{% extends "base.jinja" %}
{% block title %} Task4 {% endblock %}  {# changing title #}


{% block content %} {# adding main content #}
	{% block body %}
		{{ infoString }}
		{{ finalLine }}
		<a href="..\index.jinja"> index.jinja </a>
		<a href="C:\Users\amdin\Desktop\web\index.jinja">
	{% endblock %}
{% endblock %}